<div class="modal">
    <ion-header-bar class="bar bar-header bar-energized">
        <h1 class="title">History roadmap</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Come back</button>
    </ion-header-bar>
    <ion-content>
        <div >
            <div class="list" style="font-size:12px;">

                <div class="item item-divider">
                    Information roadmap
                </div>

                <p class="item">
                    <span style="width:150px;float:left">Time :</span> {{detailHistory.startAt | amCalendar }}
                </p>

                <p class="item">
                    <span style="width:150px;float:left">Status:</span> {{filterStatus(detailHistory.status) }}
                </p>

                <p class="item">
                    <span style="width:150px;float:left">From:</span> {{detailHistory.startPoint}}
                </p>

                <p class="item">
                    <span style="width:150px;float:left">Come :</span> {{detailHistory.endPoint}}
                </p>

                <p class="item">
                    <span style="width:150px;float:left">Estimates :</span> {{detailHistory.distance / 1000}} KM - {{detailHistory.amount | toCurrency}} VNĐ
                </p>


                <div class="item item-divider">
                    Driver
                </div>

                <p class="item">
                    <span style="width:150px;float:left">Name :</span> {{detailHistory.driver.fullname}}
                </p>

                <p class="item">
                    <span style="width:150px;float:left">phone number :</span> {{detailHistory.driver.phone}}
                </p>

                <p class="item">
                    <span style="width:150px;float:left">number of vehicles :</span> {{detailHistory.driver.username}}
                </p>

                <div class="item item-divider" >
                    Send feedback
                </div>
                <p class="item">
                    <textarea name="ax" id="" cols="30" rows="10" ng-model="reportContent"></textarea><br/>
                    <button class="button button-energized" style="width: 100%" ng-click="addReport(reportContent)" ng-disabled="addReportProcess">
                        Sends
                    </button>
                </p>
            </div>
        </div>
    </ion-content>
</div>
<style>
    textarea{
        border:1px solid #f2f2f2;
        border-radius:3px;
        -webkit-box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2) ;
        -moz-box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
    }
</style>