/Customer/platforms
/Operator/platforms
/Provider/platforms
/Customer/*.sln
/Customer/*.user
/Customer/*.jsproj
/Customer/node_modules
/Customer/.vs
/.idea
/Provider/www/bower_components
/Provider/.vs
/Customer/www/bower_components
