<div class="title-content-post">
    <ol class="breadcrumb pull-left">
        <li><a href="#">{{getApp.name}}</a></li>
        <li><a href="#">Library</a></li>
        <li class="active">Data</li>
    </ol>
    <div class="pull-right" ng-show="activeForm == 1">
        <button type="button" class="btn btn-default" ng-click="back()"><i class="glyphicon glyphicon-chevron-left"></i>
            回
        </button>
    </div>
</div>
<div class="content-post" ng-show="activeForm == 0">
    <div class="row">
        <div class="col-md-3">
            <div class="input-group input-search">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control" placeholder="Tìm kiếm">
            </div>

        </div>
        <div class="col-md-3">
            <div class="sort-search">
                <select class="form-control">
                    <option>按日期搜索</option>
                    <option>按字母顺序搜索</option>
                </select>
            </div>
        </div>
        <div class="col-md-5">
            <div class="add-new-item">
                <button type="button" class="btn btn-primary pull-right" ng-click="gotoPage('main.managerCustomer')"><i
                        class="glyphicon glyphicon-plus"></i>回
                </button>
            </div>

        </div>
        <div class="col-md-1">
            <div class="export-new-item">
                <a download="somedata.xls" onclick="return ExcellentExport.excel(this, 'datatable', 'Sheet Name Here');">Export to Excel</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h4>信息客户的路线图 : {{username}}</h4>
            <div class="table-responsive">
                <table class="table table-post" id="datatable">
                    <thead>
                    <tr>
                        <th>STT</th>
                        <th>位置开始</th>
                        <th>位置结束</th>
                        <th>距离</th>
                        <th>司机</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in listUsersHistory">
                        <td>{{$index}}</td>
                        <td>{{user.startPoint}}</td>
                        <td>{{user.endPoint}}</td>
                        <td>{{user.distance}}</td>
                        <td>{{user.driver.username || user.driver.fullname}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>