<div class="col-xs-5">
    <table class="table">
        <thead>
        <tr>
            <th style="width : 150px;">信息</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><b>汽车 : </b></td>
            <td><input ng-model="dataType.carMarker" type="text" class="form-control"
                       value="{{dataType.carMarker}}"/></td>
        </tr>
        <tr>
            <td><b>颜色</b></td>
            <td><input ng-model="dataType.color" type="text" class="form-control"
                       value="{{dataType.color}}"/></td>
        </tr>
        <tr>
            <td><b>座位</b></td>
            <td><input ng-model="dataType.seatNum" type="text" class="form-control"
                       value="{{dataType.seatNum}}"/></td>
        </tr>
        </tbody>
    </table>

</div>
<div class="col-xs-7 detail-hr">
    <table class="table">
        <thead>
        <tr>
            <th style="width : 150px;">价格表</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><b>第一公里：从0公里到 </b></td>
            <td><input required ng-model="dataType.firstKm" type="text" class="form-control"
                       value="{{dataType.firstKm}}"/></td>
        </tr>
        <tr>
            <td><b>一公里价格 :</b></td>
            <td><input required ng-model="dataType.firstPrice" type="text" class="form-control"
                       value="{{dataType.firstPrice}}"/></td>
        </tr>

        <tr>
            <td><b>公里 从周一 {{dataType.firstKm}} 公里 : </b></td>
            <td><input required ng-model="dataType.middleKm" type="text" class="form-control"
                       value="{{dataType.middleKm}}"/></td>
        </tr>
        <tr>
            <td><b>第二公里价格 2: </b></td>
            <td><input required ng-model="dataType.middlePrice" type="text" class="form-control"
                       value="{{dataType.middlePrice}}"/></td>
        </tr>
        <tr>
            <td><b>里程标：大</b></td>
            <td> {{dataType.middleKm}}</td>
        </tr>
        <tr>
            <td><b>价格公里结束</b></td>
            <td><input required ng-model="dataType.lastPrice" type="text" class="form-control"
                       value="{{dataType.lastPrice}}"/></td>
        </tr>


        </tbody>
    </table>
</div>
<div class="col-xs-12" class="text-center">
    <div class="pull-left">
        <button ng-click="createDriverType(dataType)" type="button" class="btn btn-success"><i
                class="glyphicon glyphicon-edit"></i> 新创建
        </button>
        <button type="button" class="btn btn-primary" ng-click="back()"><i
                class="glyphicon glyphicon-lock"></i>回
        </button>
    </div>
</div>
<style>
    .detail-hr tr td {
        width: 180px !important;
    }
</style>