<ion-view title="注册" class="register">
    <ion-content padding="false">

        <div class="list list-inset">
            <!--label class="item item-input item-stacked-label">
                <span class="input-label">用户名</span>
                <input type="text" placeholder="Tony" ng-model="registerData.fullname">
            </label -->
            <label class="item item-input item-stacked-label">
                <span class="input-label">
手机号</span>
                <input type="tel" placeholder="4038888888"  ng-model="registerData.username">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">密码</span>
                <input type="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;"  ng-model="registerData.password">
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">
输入密码</span>
                <input type="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;"  ng-model="registerData.repassword">
            </label>

            <!--<label class="item item-input item-stacked-label">
                <span class="input-label">地址</span>
                <input type="text" type="text" placeholder="Bmo Centre , Calgary"  ng-model="registerData.location">
            </label>-->

            <!--<label class="item item-input item-stacked-label">
                <span class="input-label">出生日期</span>
                <input type="date" placeholder="20/10/1990"  ng-model="registerData.birthday">
            </label>-->


        </div>
        <div style="padding: 0 10px;">
            <button class="button button-block button-positive" ng-click="updateUserInfo(registerData)" ng-disabled="registerProcess">注册</button>
        </div>

    </ion-content>
</ion-view>