<ion-view title="
Installation" class="setting">
    <ion-content padding="true">

        <div class="avatar text-center">

            <a ng-click="showActionsheet()">
                <img src="{{ getAvt(UserInfo.avatar) }}" alt=""/>

                <p >Change avatar</p>
            </a>

            <form>
                <input type="file" name="pic" id="avatarFile" ng-file-select="onFileSelect($files, UserInfo)">
            </form>
        </div>

        <div class="edit-acc">
            <ul>
                <li>
                    <p>姓名:</p>
                    <input type="text" ng-model="UserInfo.fullname">
                </li>
                <li>
                    <p>手机号:</p>
                    <input type="tel" ng-model="UserInfo.phone" disabled>
                </li>
                <li>
                    <p>
                        生日:</p>
                    <input type="date" ng-model="UserInfo.birthday">
                </li>
                <li>
                    <p>住址:</p>
                    <input type="text" ng-model="UserInfo.location">
                </li>
                <!--<li>
                    <p>Email:</p>
                    <input type="Email" ng-model="UserInfo.email">
                </li>-->
            </ul>

        </div>

    </ion-content>
    <div class="submit padding">
        <button class="button button-block button-positive" ng-click="saveUserInfo(UserInfo)" ng-disabled="disableButtonSave">
            Confirm
        </button>
    </div>

</ion-view>